//////////////////////////////
// NEW FONT STACK//////////////////////////////
//////////////////////////////

.container2020 {
  font-size: 1rem;
}

@media (max-width: 959px) {
  .container.container2020 {
    font-size: .7rem;
  }
}

.container2020 h1 {
  font-size: 5.2em;
  font-weight: 400;
}

.container2020 h2 {
  font-size: 3.6em;
  font-weight: 400;
}

.container2020 h3 {
  font-size: 2.8em;
  font-weight: 400;
}

.container2020 h4 {
  font-size: 2.2em;
  font-weight: 400;
}

.container2020 p {
  font-size: 1.8em;
}

.container2020 li {
  font-size: 1.8em;
}

.container2020 .deepmhasized {
  color: $color-gray;
}
