---
layout: handbook-page-toc
title: "Quality Department SET Career Framework: Staff"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Quality Department Competencies: Staff

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/quality_career_matrix_nav.erb") %>

**Staff at GitLab are expected to exhibit the following competencies:**

* [Staff Leadership Competencies](#staff-leadership-competencies)
* [Staff Technical Competencies](#staff-technical-competencies)
* [Staff Values Alignment](#staff-values-alignment)

---

### Staff Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/_engineering_staff_leadership_competency.erb") %>
<%= partial("handbook/engineering/career-development/matrix/engineering/quality/_quality_staff_leadership_competency.erb") %>

### Staff Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/_engineering_staff_technical_competency.erb") %>
<%= partial("handbook/engineering/career-development/matrix/engineering/quality/_quality_staff_technical_competency.erb") %>

### Staff Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/_values_competency.erb") %>
<%= partial("handbook/engineering/career-development/matrix/engineering/quality/_quality_staff_values_competency.erb") %>
